html {
  background: #018DED url(http://unsplash.it/1500/1000?image=881&blur=50);
  background-size: cover;
  font-family: 'helvetica neue';
  text-align: center;
  font-size: 10px;
}

body {
  margin: 0;
  font-size: 2rem;
  display: flex;
  flex: 1;
  min-height: 100vh;
  align-items: center;
}
.pandora-clock {
  margin: 0 auto;
}

.pandora-phase {
  width: 500px;
  height: 500px;
  background: url("../images/pandoraHeartsSeal-sheet.svg") no-repeat left center;
  animation: play 10s steps(12) infinite;
  background-size: cover;
}

@keyframes play {
  100% { background-position: -6000px; }
}